.ServiceContainer {
  background-color: white;
  text-align: justify;
  display: flex;
  margin: 0;
  .ServiceRow {
    display: flex;
    margin-bottom: 1rem;
    .ServiceCard {
      margin-bottom: 1rem;
      width: 20rem;
      .ServiceLink {
        text-decoration: none;
        // padding: 0%;
        height: auto;
        .ServiceImage {
          height: 20rem;
        }
        .ServiceTitle {
          text-align: center;
        }
        .ServiceBody {
          text-align: justify;
        }
      }
    }
    .ServiceCard:hover {
      background-color: aquamarine;
    }
  }
  .Image {
    width: 18rem;
    height: 18rem;
    margin: 20px;
    margin-bottom: 10px;
    float: left;
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  h3 {
    font-weight: bold;
    text-align: center;
  }
  h4 {
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
  }
  .ServiceItems {
    margin-inline-start: 1rem;
    flex-wrap: wrap;
  }
  // .Card {
  //   width: 25rem auto;
  //   height: "auto";
  //   margin: "auto";
  //   margin-bottom: "1rem";
  // }

  // .Button {
  //   margin-top: 1rem;
  // }
}
