// .About {
//   color: azure;
//   margin: 2px;
//   .AboutTitle {
//     color: yellowgreen;
//   }
//   .AboutData {
//     color: bisque;
//   }
// }
.About{
    .AboutCard {
        text-align: center;
  .CardImage {
      margin-bottom: "10px";
      width: "18rem";
      height: "18rem";
    margin: "20px";
    float: "left";
  }
}
}
