.App {
  text-align: center;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: young-serif;
  /* background-color: black; */
  /* background-color: skyblue; */
}
@media (max-width: 768px) {
  .App {
    text-align: center;
    font-family: young-serif;
  }
}
